SkillProfi/SkillProfi_Shared/bin/
SkillProfi/SkillProfi_Shared/obj/
SkillProfi/SkillProfi_TelegramBot/bin/
SkillProfi/SkillProfi_TelegramBot/obj/
SkillProfi/SkillProfi_WebAPI/bin/
SkillProfi/SkillProfi_WebAPI/obj/
SkillProfi/SkillProfi_WebSite/bin/
SkillProfi/SkillProfi_WebSite/obj/
SkillProfi/SkillProfi_WPFClient/bin/
SkillProfi/SkillProfi_WPFClient/obj/